# Dataset files
*.csv
insurance.csv

# Jupyter & IDE temporary folders
.ipynb_checkpoints/
.virtual_documents/
anaconda_projects/

# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc